.full {
  background: url(https://s3.eu-central-1.amazonaws.com/www.unitedforhope.org/images/background-motif.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}